@{
    ViewBag.Title = "About Us";
}

<body>
    <h2>@ViewBag.Title</h2>



    <p class="">What's on the Table? is a local restaurant review site. The purpose of this website is to provide the residents of the Provo/Orem area with up-to-date knowledge and reviews. The founders of the business are pictured below.  </p>

    <img class="center" src="~/Content/Images/guy.jpg" />

</body>