@{
    ViewBag.Title = "Contact Us!";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    What's On The Table<br />
    Schiaparelli, MARS 00001-0001<br />
    <abbr title="Phone">P:</abbr>
    111.222.3334
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@MenuStaff.com">Support@MenuStaff.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@MenuStaff.com">Marketing@MenuStaff.com</a>
</address>