@{
    ViewBag.Title = "Contact Us";
}
<br />
<h2>@ViewBag.Title.</h2>

<br />

<address>
    755 E. 950 N.<br />
    Provo, UT 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    801.767.8349
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:Support@wott.com">Whatsonthetable@wott.com</a><br />

</address>