@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@Html.Raw((string)ViewBag.Login)
<br />
@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    <table>
        <tr>
            <td>
                <label for="inputEmail">Email address:</label>
            </td>
            <td>
                @Html.TextBox("Email address")
            </td>
        </tr>
        <tr>
            <td>
                <label for="inputPassword">Password:</label>
            </td>
            <td>
                @Html.Password("Password")
            </td>
        </tr>

    </table>
    <button type="submit">Login</button>
}
<br />
Note: Users must be logged in to add, edit, or delete reviews from the website.

