body {
    padding-top: 50px;
    padding-bottom: 20px;
    color: black;
    background-color: #edeae5 ;
    font-family:'HP Simplified';
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

textarea {
    font-family: inherit;
    width: 650px;
    height: 65px;
}

h2 {
    color: black;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    background-color: #026670;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    /*height: 300px;*/
}

.containerabout {
    border: 2px solid black;
    background-color: #026670;
    border-radius: 5px;
    padding: 16px;
    padding-bottom: 16px;
    margin: 16px 0;
    color: black;
}

#homeimg {
    border-radius: 60%;
    max-width: 40%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
    float:left
}

#homejumbo {
    background-color: #ffffff;
    border-radius: 12px;
    border-color: black;
    border-style: solid;
    display: inline-block;
    margin-left: -5%;
    margin-right: -5%;
    text-align: center;
    background-image: url('Images/stefan-vladimirov-Q_Moi2xjieU-unsplash.jpg');
    background-position: center;
    background-size: cover;
    margin-top: 10px;
}
#restjumbo {
    background-color: #ffffff;
    border-radius: 12px;
    border-color: black;
    border-style: solid;
    display: inline-block;
    margin-left: -5%;
    margin-right: -5%;
    text-align: center;
    background-image: url('Images/downtown-provo-utah-has.jpg');
    background-position: center;
    background-size: cover;
    margin-top: 10px;
}

#detailsjumbo {
    background-color: #ffffff;
    border-radius: 12px;
    border-color: black;
    border-style: solid;
    display: inline-block;
    margin-left: -5%;
    margin-right: -5%;
    text-align: center;
    background-image: url('Images/WsDu69.jpg');
    background-position: center;
    background-size: cover;
    margin-top: 10px;
}

#homebox {
    background-color: #026670 /*#900603 #FFFAF0*/;
    color: #9d9d9d;
    border-radius: 12px;
    border-color: black;
    border-style: solid;
    display: inline-block;
    margin: .4em;
    display: inline-block;
    width: 32%;
}

.homecontainer {
    /*margin-left: -5%;
    margin-right: -5%;*/
}

.homecontainer1 {
    padding-left: 15px;
    margin: 15px;
}

#maintext{
    text-align:center;
    padding:inherit;
    height:auto;
    color:white;
}


.searchbar {
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: white;
    border-radius: 30px;
    padding: 10px;
    padding-bottom:0px;
    width: 400px;
}

.search_input {
    color: black;
    border: 0;
    outline: 0;
    background: none;
    width: 400px;
    line-height: 40px;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_input {
    padding: 0 10px;
    width: 400px;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_icon {
    color: #e74c3c;
    background-image: url('Images/magnifying-glass-icon_1000x1080.png');
    background-position: center;
    background-size: 40px;
}

.search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: gray;
    background-color: gray;
    text-decoration: none;
    background-image: url('Images/magnifying-glass-icon_1000x1080.png');
    background-position: center;
    background-size: 40px;
}